@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eceff4;
  color: #2e3440;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;

  /* add scroll bar on every page */
  overflow-y: scroll;
}