@media (max-width: 640px) {
  .nav-menu {
    color: #eceff4;
    position: absolute;
    top: 4rem; /* 64px header height */
    right: 0;
    height: 0;
    width: 100vw;
    z-index: 20;
    overflow: hidden;
    transition: height 500ms ease-in-out;
    flex-direction: column;
  }

  .nav-menu li {
    text-decoration: underline;
    margin: 2rem 0 0 1rem;
    padding: 0;
  }

  .nav-menu a {
    margin: 0;
    padding: 0;
  }

  .nav-menu--active {
    height: 216px;
  }
}
